@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>Данные о заказах</h1>
    <table class="table-bordered">
        <tbody>
            <tr>
                <th rowspan="2">Id</th>
                <th rowspan="2">CustomId</th>
                <th rowspan="2">SourceOrderId</th>
                <th rowspan="2">Title</th>
                <th rowspan="2">TrackingUrl</th>
                <th rowspan="2">Status</th>
                <th rowspan="2">RenderStatus</th>
                <th rowspan="2">PaymentStatus</th>
                <th rowspan="2">CommentsCount</th>
                <th rowspan="2">DownloadLink</th>
                <th rowspan="2">PreviewImageUrl</th>
                <th rowspan="2">Price</th>
                <th rowspan="2">DiscountPrice</th>
                <th rowspan="2">DeliveryPrice</th>
                <th rowspan="2">TotalPrice</th>
                <th rowspan="2">UserCompanyAccountId</th>
                <th rowspan="2">DiscountId</th>
                <th rowspan="2">DiscountTitle</th>
                <th rowspan="2">DateCreated</th>
                <th rowspan="2">DateModified</th>
                <th rowspan="2">DatePaid</th>
                <th colspan="8">DeliveryAddress</th>
                <th colspan="5">Shipping</th>
            </tr>
            <tr>
                <th>ZipCode</th>
                <th>AddressLine1</th>
                <th>AddressLine2</th>
                <th>Description</th>
                <th>City</th>
                <th>Country</th>
                <th>FullName</th>
                <th>Phone</th>
                <th>Id</th>
                <th>Title</th>
                <th>Phone</th>
                <th>Email</th>
                <th>ShippingType</th>
            </tr>
        @foreach (var Item in @ViewBag.products)
        {
            <tr>
                <td>@Item.Id</td>
                <td>@Item.CustomId</td>
                <td>@Item.SourceOrderId</td>
                <td>@Item.Title</td>
                <td>@Item.TrackingUrl</td>
                <td>@Item.Status</td>
                <td>@Item.RenderStatus</td>
                <td>@Item.PaymentStatus</td>
                <td>@Item.CommentsCount</td>
                <td>@Item.DownloadLink</td>
                <td>@Item.PreviewImageUrl</td>
                <td>@Item.Price</td>
                <td>@Item.DiscountPrice</td>
                <td>@Item.DeliveryPrice</td>
                <td>@Item.TotalPrice</td>
                <td>@Item.UserCompanyAccountId</td>
                <td>@Item.DiscountId</td>
                <td>@Item.DiscountTitle</td>
                <td>@Item.DateCreated</td>
                <td>@Item.DateModified</td>
                <td>@Item.DatePaid</td>
                <td>@Item.DeliveryAddress.ZipCode</td>
                <td>@Item.DeliveryAddress.AddressLine1</td>
                <td>@Item.DeliveryAddress.AddressLine2</td>
                <td>@Item.DeliveryAddress.Description</td>
                <td>@Item.DeliveryAddress.City</td>
                <td>@Item.DeliveryAddress.Country</td>
                <td>@Item.DeliveryAddress.FullName</td>
                <td>@Item.DeliveryAddress.Phone</td>
                <td>@Item.Shipping.Id</td>
                <td>@Item.Shipping.Title</td>
                <td>@Item.Shipping.Phone</td>
                <td>@Item.Shipping.Email</td>
                <td>@Item.Shipping.ShippingType</td>
            </tr>
        }
        </tbody>
    </table>
</div>
